@import 'variables';

* {
  color: $light;
  font-family: $default-font-family;
  text-decoration: none;
}

.pt-sm { @include padding(8px); }
.pt-lg { @include padding(70px); }
.pt-xl { @include padding(250px); }
.pr-md { @include padding(null, 40px); }
.pr-lg { @include padding(null, 70px); }
.pb-sm { @include padding(null, null, 8px); }
.pb-md { @include padding(null, null, 40px); }
.pb-lg { @include padding(null, null, 70px); }
.pb-xl { @include padding(null, null, 120px); }
.pl-md { @include padding(null, null, null, 40px); }
.pl-lg { @include padding(null, null, null, 70px); }
.px-md { @include padding(null, 40px, null, 40px); }
.px-xl { @include padding(null, 120px, null, 120px); }
.py-sm { @include padding(8px, null, 8px); }
.py-lg { @include padding(60px, null, 60px); }

.padding-buttons {
  padding: 10px 50px;
}

.m-0 { @include margin(0, 0, 0, 0); }
.mt-0 { @include margin(0px); }
.mt-sm { @include margin(8px); }
.mt-md { @include margin(20px); }
.mt-lg { @include margin(70px); }
.mt-xl { @include margin(110px); }
.mt-xxl { @include margin(300px); }
.mt-ng { @include margin(-20px, 0, 0, 0); }
.mr-sm { @include margin(null, 8px); }
.mr-lg { @include margin(null, 70px); }
.mr-ng { @include margin(null, -30px); }
.mb-0 { @include margin(null, null, 0); }
.mb-xs { @include margin(null, null, 8px); }
.mb-sm { @include margin(null, null, 20px); }
.mb-md { @include margin(null, null, 50px); }
.mb-lg { @include margin(null, null, 70px); }
.mb-xl { @include margin(null, null, 80px); }
.mb-ng { @include margin(0px, 0, -65px, 0); }
.ml-sm { @include margin(null, null, null, 8px); }
.ml-md { @include margin(null, null, null, 20px); }
.ml-lg { @include margin(null, null, null, 70px); }
.mx-sm { @include margin(null, 10px, null, 10px); }
.my-sm { @include margin(10px, null, 10px); }
.my-lg { @include margin(200px, null, 200px); }

.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }

.text-uppercase { text-transform: uppercase; }

.font-weight-light { font-weight: map-get($font-w, 'light') }
.font-weight-medium { font-weight: map-get($font-w, 'medium') }
.font-weight-bold { font-weight: map-get($font-w, 'bold') }
.font-weight-extra-bold { font-weight: map-get($font-w,'xbold') }

.text-xs { font-size: map-get(map-get($font-s, lg), xsmall) }
.text-sm { font-size: map-get(map-get($font-s, lg), small) }
.text-md { font-size: map-get(map-get($font-s, lg), medium) }
.text-lg { font-size: map-get(map-get($font-s, lg), large) }
.text-xl { font-size: map-get(map-get($font-s, lg), xlarge) }
.text-xxl { font-size: map-get(map-get($font-s, lg), xxlarge) }
.text-xxxl { font-size: map-get(map-get($font-s, lg), xxxlarge) }

.line-height-sm { line-height: map-get(map-get($line-height, lg), small) }
.line-height-md { line-height: map-get(map-get($line-height, lg), medium) }
.line-height-lg { line-height: map-get(map-get($line-height, lg), large) }
.line-height-xlg { line-height: map-get(map-get($line-height, lg), xlarge) }

.d-inline-block { display: inline-block; }
.d-flex { display: flex; }
.flex-column { flex-direction: column; }
.justify-content-start { justify-content: flex-start; }
.justify-content-center { justify-content: center; }
.justify-content-end { justify-content: flex-end; }
.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }
.align-items-center { align-items: center; }

.position-relative { position: relative; }
.position-absolute { position: absolute; }

.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.bottom-sm { bottom: 20px; }
.left-0 { left: 0; }
.left-365px { left: 365px; }

.rounded { border-radius: 5px; }
.top-rounded { border-top-left-radius: 20px; border-top-right-radius: 20px;}
.letter-spacing-negative { letter-spacing: -1px; }

.gap-xs { gap: map-get(map-get($gap, lg), xsmall) }
.gap-sm { gap: map-get(map-get($gap, lg), small) }
.gap-md { gap: map-get(map-get($gap, lg), medium) }
.gap-lg { gap: map-get(map-get($gap, lg), large) }
.gap-xl { gap: map-get(map-get($gap, lg), xlarge) }

.dark-blue-gradient { background: linear-gradient(46.99deg, #0F58B7 -4.4%, #62D9FF 120.42%); }
.light-blue-gradient { background: linear-gradient(46.77deg, #0F99B7 -0.79%, #69ECDC 131.52%); }
.background-clip-text { -webkit-background-clip: text; }
.text-transparent { color: transparent; }

.div-gradient {
  background-image: linear-gradient(46.99deg, #0F58B7 -4.4%, #62D9FF 120.42%);
  display: inline-block;
  -webkit-background-clip: text;
}

.font-white { color: $light; }
.background-white { background-color: $light; z-index: 1;}

.opacity-2 { opacity: 2; }
.opacity-1 { opacity: 0.2;}

.standard-border { border: 1px solid #1C1C1C; }
.border-thin { border: 0.8px solid rgba(0, 0, 0, 0.03); }

.w-xs { width: map-get(map-get($width, lg), xsmall) }
.w-sm { width: map-get(map-get($width, lg), small) }
.w-md { width: map-get(map-get($width, lg), medium) }
.w-lg { width: map-get(map-get($width, lg), large) }
.w-xl { width: map-get(map-get($width, lg), xlarge) }
.w-xxl { width: map-get(map-get($width, lg), xxlarge) }
.w-xxxl { width: map-get(map-get($width, lg), xxxlarge) }
.w-60 { width: map-get(map-get($width, lg), 60) }
.w-100 { width: map-get(map-get($width, lg), 100) }

.h-xs { height: map-get(map-get($height, lg), xsmall) }
.h-sm { height: map-get(map-get($height, lg), small) }
.h-md { height: map-get(map-get($height, lg), medium) }
.h-lg { height: map-get(map-get($height, lg), large) }
.h-xl { height: map-get(map-get($height, lg), xlarge) }
.h-xxl { height: map-get(map-get($height, lg), xxlarge) }
.h-xxxl { height: map-get(map-get($height, lg), xxxlarge) }
.h-100 { height: map-get(map-get($height, lg), 100) }

.border-none { border: none;}
.standard-shadow { box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25); }

.primary-background-color { background-color: $light;}
.secondary-background { background-color: $secondary-color}
.tertiary-background-color {background-color: $primary-color}
.secondary-color { color: $primary-color;}
.tertiary-color { color: $primary-color-light;}
.non-wrap { white-space: nowrap; }

.object-fit-contain {
  object-fit: contain;
}

.custom-list {
  list-style-type: none;
  padding-left: 0;
  > li {
    background-image: url('../../../../img/tic.png');
    background-position: 0 5px;
    background-repeat: no-repeat;
    margin: 5px 0;
    padding-left: 30px;
  }
}

.custom-input{
  background: transparent;
  border-bottom: 1px solid $light;
}

body {
  margin: 0;
}

.mobile-screen-display {
  display: none;
}

::placeholder {
  color: $light;
}

.ml-sm-mobile { @include margin(null, null, null, 30px); }

// First Breakpoint
@media only screen and (max-width: 1300px) {

  .mobile-screen-display {
    display: inline;
  }

  .big-screen-display {
    display: none;
  }

  .flex-row-mobile {
    flex-direction: row;
  }

  .flex-column-mobile {
    flex-direction: column;
  }

  .carrousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
  }

  .carrousel-photo {
    border-radius: 5px;
    height: 120px;
    object-fit: cover;
    width: 100%;
  }

  .align-items-center-mobile {
    align-items: center;
  }

  .align-text-center-mobile {
    text-align: center;
  }

  .dark-blue-mobile {
    color: $primary-color;
   }

  .font-weight-bold-mobile {
    font-weight: 500;
  }

  .mobile-bold {
    font-weight: 700;
  }

  .border-white { border-color: $light; }

  .bottom-sm { bottom: 5px; }

  .secondary-background-mobile { background-color:$secondary-color; }

  .line-height-sm { line-height: map-get(map-get($line-height, sm), small) }
  .line-height-md { line-height: map-get(map-get($line-height, sm), medium) }
  .line-height-lg { line-height: map-get(map-get($line-height, sm), large) }
  .line-height-xlg { line-height: map-get(map-get($line-height, sm), xlarge) }

  .text-xs { font-size: map-get(map-get($font-s, md), xsmall) }
  .text-sm { font-size: map-get(map-get($font-s, md), small) }
  .text-md { font-size: map-get(map-get($font-s, md), medium) }
  .text-lg { font-size: map-get(map-get($font-s, md), large) }
  .text-xl { font-size: map-get(map-get($font-s, md), xlarge) }
  .text-xxl { font-size: map-get(map-get($font-s, md), xxlarge) }
  .text-xxxl { font-size: map-get(map-get($font-s, md), xxxlarge) }

  .gap-xs { gap: map-get(map-get($gap, md), xsmall) }
  .gap-sm { gap: map-get(map-get($gap, md), small) }
  .gap-md { gap: map-get(map-get($gap, md), medium) }
  .gap-lg { gap: map-get(map-get($gap, md), large) }
  .gap-xl { gap: map-get(map-get($gap, md), xlarge) }

  .gap-sm-mobile { gap: map-get(map-get($gap, md), small)}
  .gap-md-mobile { gap: map-get(map-get($gap, md), large)}

  .gap-cards-mobile {gap: map-get(map-get($gap, lg), small)}

  .pt-sm { @include padding(6px); }
  .pt-lg { @include padding(60px); }
  .pt-xl { @include padding(250px); }
  .pr-md { @include padding(null, 32px); }
  .pr-lg { @include padding(null,60px); }
  .pb-sm { @include padding(null, null, 6px); }
  .pb-md { @include padding(null, null, 32px); }
  .pb-lg { @include padding(null, null, 60px); }
  .pb-xl { @include padding(null, null, 100px); }
  .pl-md { @include padding(null, null, null, 32px); }
  .pl-lg { @include padding(null, null, null, 60px); }
  .px-md { @include padding(null, 32px, null, 32px); }
  .px-xl { @include padding(null, 50px, null, 50px); }
  .py-sm { @include padding(6px, null, 6px); }

  .mt-sm { @include margin(6px); }
  .mt-md { @include margin(16px); }
  .mt-lg { @include margin(60px); }
  .mt-xl { @include margin(100px); }
  .mt-xxl { @include margin(250px); }
  .mt-ng { @include margin(-15px, 0, 0, 0); }
  .mr-sm { @include margin(null, 6px); }
  .mr-lg { @include margin(null, 60px); }
  .mb-xs { @include margin(null, null, 6px); }
  .mb-sm { @include margin(null, null, 16px); }
  .mb-md { @include margin(null, null, 40px); }
  .mb-lg { @include margin(null, null, 60px); }
  .mb-ng { @include margin(0px, 0, -55px, 0); }
  .ml-sm { @include margin(null, null, null, 6px); }
  .ml-md { @include margin(null, null, null, 16px); }
  .ml-lg { @include margin(null, null, null, 60px); }
  .mx-sm { @include margin(null, 7px, null, 7px); }
  .my-sm { @include margin(7px, null, 7px); }
  .my-lg { @include margin(180px, null, 180px); }

  .w-xs-medium { width: map-get(map-get($width, md), xsmall) }
  .w-sm-medium { width: map-get(map-get($width, md), small) }
  .w-md-medium { width: map-get(map-get($width, md), medium) }
  .w-lg-medium { width: map-get(map-get($width, md), large) }
  .w-xl-medium { width: map-get(map-get($width, md), xlarge) }
  .w-xxl-medium { width: map-get(map-get($width, md), xxlarge) }
  .w-xxxl-medium { width: map-get(map-get($width, md), xxxlarge) }
  .w-100-mobile { width: map-get(map-get($width, sm), 100) }

  .h-xs-medium { height: map-get(map-get($height, md), xsmall) }
  .h-sm-medium { height: map-get(map-get($height, md), small) }
  .h-md-medium { height: map-get(map-get($height, md), medium) }
  .h-lg-medium { height: map-get(map-get($height, md), large) }
  .h-xl-medium { height: map-get(map-get($height, md), xlarge) }
  .h-xxl-medium { height: map-get(map-get($height, md), xxlarge) }
  .h-xxxl-medium { height: map-get(map-get($height, md), xxxlarge) }

  .mt-sm-mobile { @include margin(8px); }

  .mt-md-mobile { @include margin(40px); }

  .mt-lg-mobile { @include margin(60px); }

  .my-md-mobile { @include margin(80px, null, 80px); }

  .mb-sm-mobile { @include margin(null, null, 30px); }

  .mb-0-mobile { @include margin(null, null, 0); }

  .pt-md-mobile { @include padding(150px); }

  .reduce-size { transform: scale(0.8); }
}

// Second breakpoint
@media only screen and (max-width: 600px) {

  .text-xs-mobile { font-size: map-get(map-get($font-s, sm), xsmall) }
  .text-sm-mobile { font-size: map-get(map-get($font-s, sm), small) }
  .text-md-mobile { font-size: map-get(map-get($font-s, sm), medium) }
  .text-lg-mobile { font-size: map-get(map-get($font-s, sm), large) }
  .text-xl-mobile { font-size: map-get(map-get($font-s, sm), xlarge) }
  .text-xxl-mobile { font-size: map-get(map-get($font-s, sm), xxlarge) }
  .text-xxxl-mobile { font-size: map-get(map-get($font-s, sm), xxxlarge) }

  .pt-sm { @include padding(4px); }
  .pt-lg { @include padding(50px); }
  .pr-md { @include padding(null, 26px); }
  .pr-lg { @include padding(null, 50px); }
  .pb-sm { @include padding(null, null, 4px); }
  .pb-md { @include padding(null, null, 26px); }
  .pb-lg { @include padding(null, null, 50px); }
  .pb-xl { @include padding(null, null, 100px); }
  .pl-md { @include padding(null, null, null, 26px); }
  .pl-lg { @include padding(null, null, null, 50px); }
  .px-md { @include padding(null, 26px, null, 26px); }
  .px-xl { @include padding(null, 30px, null, 30px); }
  .py-sm { @include padding(4px, null, 4px); }

  .mt-sm { @include margin(4px); }
  .mt-md { @include margin(12px); }
  .mt-lg { @include margin(50px); }
  .mt-xxl { @include margin(250px); }
  .mr-sm { @include margin(null, 4px); }
  .mr-lg { @include margin(null, 50px); }
  .mb-xs { @include margin(null, null, 4px); }
  .mb-sm { @include margin(null, null, 12px); }
  .mb-lg { @include margin(null, null, 50px); }
  .mb-ng { @include margin(0px, 0, -45px, 0); }
  .ml-sm { @include margin(null, null, null, 4px); }
  .ml-md { @include margin(null, null, null, 12px); }
  .ml-lg { @include margin(null, null, null, 50px); }
  .mx-sm { @include margin(null, 5px, null, 5px); }
  .my-sm { @include margin(5px, null, 5px); }

  .w-xs-mobile { width: map-get(map-get($width, sm), xsmall) }
  .w-sm-mobile { width: map-get(map-get($width, sm), small) }
  .w-md-mobile { width: map-get(map-get($width, sm), medium) }
  .w-lg-mobile { width: map-get(map-get($width, sm), large) }
  .w-xl-mobile { width: map-get(map-get($width, sm), xlarge) }
  .w-xxl-mobile { width: map-get(map-get($width, sm), xxlarge) }
  .w-xxxl-mobile { width: map-get(map-get($width, sm), xxxlarge) }

  .h-xs-mobile { height: map-get(map-get($height, sm), xsmall) }
  .h-sm-mobile { height: map-get(map-get($height, sm), small) }
  .h-md-mobile { height: map-get(map-get($height, sm), medium) }
  .h-lg-mobile { height: map-get(map-get($height, sm), large) }
  .h-xl-mobile { height: map-get(map-get($height, sm), xlarge) }
  .h-xxl-mobile { height: map-get(map-get($height, sm), xxlarge) }
  .h-xxxl-mobile { height: map-get(map-get($height, sm), xxxlarge) }
}
