* {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.pt-sm {
  padding-top: 8px;
}

.pt-lg {
  padding-top: 70px;
}

.pt-xl {
  padding-top: 250px;
}

.pr-md {
  padding-right: 40px;
}

.pr-lg {
  padding-right: 70px;
}

.pb-sm {
  padding-bottom: 8px;
}

.pb-md {
  padding-bottom: 40px;
}

.pb-lg {
  padding-bottom: 70px;
}

.pb-xl {
  padding-bottom: 120px;
}

.pl-md {
  padding-left: 40px;
}

.pl-lg {
  padding-left: 70px;
}

.px-md {
  padding-right: 40px;
  padding-left: 40px;
}

.px-xl {
  padding-right: 120px;
  padding-left: 120px;
}

.py-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-lg {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-buttons {
  padding: 10px 50px;
}

.m-0 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.mt-0 {
  margin-top: 0px;
}

.mt-sm {
  margin-top: 8px;
}

.mt-md {
  margin-top: 20px;
}

.mt-lg {
  margin-top: 70px;
}

.mt-xl {
  margin-top: 110px;
}

.mt-xxl {
  margin-top: 300px;
}

.mt-ng {
  margin-top: -20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.mr-sm {
  margin-right: 8px;
}

.mr-lg {
  margin-right: 70px;
}

.mr-ng {
  margin-right: -30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: 8px;
}

.mb-sm {
  margin-bottom: 20px;
}

.mb-md {
  margin-bottom: 50px;
}

.mb-lg {
  margin-bottom: 70px;
}

.mb-xl {
  margin-bottom: 80px;
}

.mb-ng {
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: -65px;
  margin-left: 0;
}

.ml-sm {
  margin-left: 8px;
}

.ml-md {
  margin-left: 20px;
}

.ml-lg {
  margin-left: 70px;
}

.mx-sm {
  margin-right: 10px;
  margin-left: 10px;
}

.my-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-lg {
  margin-top: 200px;
  margin-bottom: 200px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 500;
}

.font-weight-extra-bold {
  font-weight: 600;
}

.text-xs {
  font-size: 14px;
}

.text-sm {
  font-size: 16px;
}

.text-md {
  font-size: 20px;
}

.text-lg {
  font-size: 30px;
}

.text-xl {
  font-size: 35px;
}

.text-xxl {
  font-size: 48px;
}

.text-xxxl {
  font-size: 60px;
}

.line-height-sm {
  line-height: 19.5px;
}

.line-height-md {
  line-height: 37.8px;
}

.line-height-lg {
  line-height: 52px;
}

.line-height-xlg {
  line-height: 65px;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.bottom-sm {
  bottom: 20px;
}

.left-0 {
  left: 0;
}

.left-365px {
  left: 365px;
}

.rounded {
  border-radius: 5px;
}

.top-rounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.letter-spacing-negative {
  letter-spacing: -1px;
}

.gap-xs {
  gap: 10px;
}

.gap-sm {
  gap: 20px;
}

.gap-md {
  gap: 40px;
}

.gap-lg {
  gap: 70px;
}

.gap-xl {
  gap: 200px;
}

.dark-blue-gradient {
  background: linear-gradient(46.99deg, #0F58B7 -4.4%, #62D9FF 120.42%);
}

.light-blue-gradient {
  background: linear-gradient(46.77deg, #0F99B7 -0.79%, #69ECDC 131.52%);
}

.background-clip-text {
  -webkit-background-clip: text;
}

.text-transparent {
  color: transparent;
}

.div-gradient {
  background-image: linear-gradient(46.99deg, #0F58B7 -4.4%, #62D9FF 120.42%);
  display: inline-block;
  -webkit-background-clip: text;
}

.font-white {
  color: white;
}

.background-white {
  background-color: white;
  z-index: 1;
}

.opacity-2 {
  opacity: 2;
}

.opacity-1 {
  opacity: 0.2;
}

.standard-border {
  border: 1px solid #1C1C1C;
}

.border-thin {
  border: 0.8px solid rgba(0, 0, 0, 0.03);
}

.w-xs {
  width: 14px;
}

.w-sm {
  width: 17px;
}

.w-md {
  width: 30px;
}

.w-lg {
  width: 240px;
}

.w-xl {
  width: 250px;
}

.w-xxl {
  width: 345px;
}

.w-xxxl {
  width: 450px;
}

.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

.h-xs {
  height: 15px;
}

.h-sm {
  height: 25px;
}

.h-md {
  height: 30px;
}

.h-lg {
  height: 40px;
}

.h-xl {
  height: 210px;
}

.h-xxl {
  height: 255px;
}

.h-xxxl {
  height: 300px;
}

.h-100 {
  height: 100%;
}

.border-none {
  border: none;
}

.standard-shadow {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.primary-background-color {
  background-color: white;
}

.secondary-background {
  background-color: rgb(242, 247, 255);
}

.tertiary-background-color {
  background-color: rgb(15, 88, 183);
}

.secondary-color {
  color: rgb(15, 88, 183);
}

.tertiary-color {
  color: rgb(155, 199, 255);
}

.non-wrap {
  white-space: nowrap;
}

.object-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.custom-list {
  list-style-type: none;
  padding-left: 0;
}
.custom-list > li {
  background-image: url("../../../../img/tic.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
  margin: 5px 0;
  padding-left: 30px;
}

.custom-input {
  background: transparent;
  border-bottom: 1px solid white;
}

body {
  margin: 0;
}

.mobile-screen-display {
  display: none;
}

::-moz-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

.ml-sm-mobile {
  margin-left: 30px;
}

@media only screen and (max-width: 1300px) {
  .mobile-screen-display {
    display: inline;
  }
  .big-screen-display {
    display: none;
  }
  .flex-row-mobile {
    flex-direction: row;
  }
  .flex-column-mobile {
    flex-direction: column;
  }
  .carrousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
  }
  .carrousel-photo {
    border-radius: 5px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .align-items-center-mobile {
    align-items: center;
  }
  .align-text-center-mobile {
    text-align: center;
  }
  .dark-blue-mobile {
    color: rgb(15, 88, 183);
  }
  .font-weight-bold-mobile {
    font-weight: 500;
  }
  .mobile-bold {
    font-weight: 700;
  }
  .border-white {
    border-color: white;
  }
  .bottom-sm {
    bottom: 5px;
  }
  .secondary-background-mobile {
    background-color: rgb(242, 247, 255);
  }
  .line-height-sm {
    line-height: 20px;
  }
  .line-height-md {
    line-height: 27px;
  }
  .line-height-lg {
    line-height: 32.5px;
  }
  .line-height-xlg {
    line-height: 47px;
  }
  .text-xs {
    font-size: 13px;
  }
  .text-sm {
    font-size: 15px;
  }
  .text-md {
    font-size: 18px;
  }
  .text-lg {
    font-size: 22px;
  }
  .text-xl {
    font-size: 27px;
  }
  .text-xxl {
    font-size: 34px;
  }
  .text-xxxl {
    font-size: 42px;
  }
  .gap-xs {
    gap: 7px;
  }
  .gap-sm {
    gap: 15px;
  }
  .gap-md {
    gap: 30px;
  }
  .gap-lg {
    gap: 50px;
  }
  .gap-xl {
    gap: 150px;
  }
  .gap-sm-mobile {
    gap: 15px;
  }
  .gap-md-mobile {
    gap: 50px;
  }
  .gap-cards-mobile {
    gap: 20px;
  }
  .pt-sm {
    padding-top: 6px;
  }
  .pt-lg {
    padding-top: 60px;
  }
  .pt-xl {
    padding-top: 250px;
  }
  .pr-md {
    padding-right: 32px;
  }
  .pr-lg {
    padding-right: 60px;
  }
  .pb-sm {
    padding-bottom: 6px;
  }
  .pb-md {
    padding-bottom: 32px;
  }
  .pb-lg {
    padding-bottom: 60px;
  }
  .pb-xl {
    padding-bottom: 100px;
  }
  .pl-md {
    padding-left: 32px;
  }
  .pl-lg {
    padding-left: 60px;
  }
  .px-md {
    padding-right: 32px;
    padding-left: 32px;
  }
  .px-xl {
    padding-right: 50px;
    padding-left: 50px;
  }
  .py-sm {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .mt-sm {
    margin-top: 6px;
  }
  .mt-md {
    margin-top: 16px;
  }
  .mt-lg {
    margin-top: 60px;
  }
  .mt-xl {
    margin-top: 100px;
  }
  .mt-xxl {
    margin-top: 250px;
  }
  .mt-ng {
    margin-top: -15px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .mr-sm {
    margin-right: 6px;
  }
  .mr-lg {
    margin-right: 60px;
  }
  .mb-xs {
    margin-bottom: 6px;
  }
  .mb-sm {
    margin-bottom: 16px;
  }
  .mb-md {
    margin-bottom: 40px;
  }
  .mb-lg {
    margin-bottom: 60px;
  }
  .mb-ng {
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: -55px;
    margin-left: 0;
  }
  .ml-sm {
    margin-left: 6px;
  }
  .ml-md {
    margin-left: 16px;
  }
  .ml-lg {
    margin-left: 60px;
  }
  .mx-sm {
    margin-right: 7px;
    margin-left: 7px;
  }
  .my-sm {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .my-lg {
    margin-top: 180px;
    margin-bottom: 180px;
  }
  .w-xs-medium {
    width: 14px;
  }
  .w-sm-medium {
    width: 17px;
  }
  .w-md-medium {
    width: 30px;
  }
  .w-lg-medium {
    width: 240px;
  }
  .w-xl-medium {
    width: 250px;
  }
  .w-xxl-medium {
    width: 345px;
  }
  .w-xxxl-medium {
    width: 450px;
  }
  .w-100-mobile {
    width: 100%;
  }
  .h-xs-medium {
    height: 12px;
  }
  .h-sm-medium {
    height: 20px;
  }
  .h-md-medium {
    height: 25px;
  }
  .h-lg-medium {
    height: 32px;
  }
  .h-xl-medium {
    height: 140px;
  }
  .h-xxl-medium {
    height: 230px;
  }
  .h-xxxl-medium {
    height: 260px;
  }
  .mt-sm-mobile {
    margin-top: 8px;
  }
  .mt-md-mobile {
    margin-top: 40px;
  }
  .mt-lg-mobile {
    margin-top: 60px;
  }
  .my-md-mobile {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mb-sm-mobile {
    margin-bottom: 30px;
  }
  .mb-0-mobile {
    margin-bottom: 0;
  }
  .pt-md-mobile {
    padding-top: 150px;
  }
  .reduce-size {
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 600px) {
  .text-xs-mobile {
    font-size: 12px;
  }
  .text-sm-mobile {
    font-size: 14px;
  }
  .text-md-mobile {
    font-size: 16px;
  }
  .text-lg-mobile {
    font-size: 18px;
  }
  .text-xl-mobile {
    font-size: 20px;
  }
  .text-xxl-mobile {
    font-size: 25px;
  }
  .text-xxxl-mobile {
    font-size: 36px;
  }
  .pt-sm {
    padding-top: 4px;
  }
  .pt-lg {
    padding-top: 50px;
  }
  .pr-md {
    padding-right: 26px;
  }
  .pr-lg {
    padding-right: 50px;
  }
  .pb-sm {
    padding-bottom: 4px;
  }
  .pb-md {
    padding-bottom: 26px;
  }
  .pb-lg {
    padding-bottom: 50px;
  }
  .pb-xl {
    padding-bottom: 100px;
  }
  .pl-md {
    padding-left: 26px;
  }
  .pl-lg {
    padding-left: 50px;
  }
  .px-md {
    padding-right: 26px;
    padding-left: 26px;
  }
  .px-xl {
    padding-right: 30px;
    padding-left: 30px;
  }
  .py-sm {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .mt-sm {
    margin-top: 4px;
  }
  .mt-md {
    margin-top: 12px;
  }
  .mt-lg {
    margin-top: 50px;
  }
  .mt-xxl {
    margin-top: 250px;
  }
  .mr-sm {
    margin-right: 4px;
  }
  .mr-lg {
    margin-right: 50px;
  }
  .mb-xs {
    margin-bottom: 4px;
  }
  .mb-sm {
    margin-bottom: 12px;
  }
  .mb-lg {
    margin-bottom: 50px;
  }
  .mb-ng {
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: -45px;
    margin-left: 0;
  }
  .ml-sm {
    margin-left: 4px;
  }
  .ml-md {
    margin-left: 12px;
  }
  .ml-lg {
    margin-left: 50px;
  }
  .mx-sm {
    margin-right: 5px;
    margin-left: 5px;
  }
  .my-sm {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .w-xs-mobile {
    width: 14px;
  }
  .w-sm-mobile {
    width: 17px;
  }
  .w-md-mobile {
    width: 30px;
  }
  .w-lg-mobile {
    width: 240px;
  }
  .w-xl-mobile {
    width: 250px;
  }
  .w-xxl-mobile {
    width: 345px;
  }
  .w-xxxl-mobile {
    width: 450px;
  }
  .h-xs-mobile {
    height: 10px;
  }
  .h-sm-mobile {
    height: 16px;
  }
  .h-md-mobile {
    height: 20px;
  }
  .h-lg-mobile {
    height: 28px;
  }
  .h-xl-mobile {
    height: 165px;
  }
  .h-xxl-mobile {
    height: 200px;
  }
  .h-xxxl-mobile {
    height: 220px;
  }
}/*# sourceMappingURL=exercise_one.css.map */
